.sec-00 {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}
.titulo-sec {
    margin-left: 10px;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.sec-01 {
    display: grid;
    gap: 16px;
}
.titulo-sec-01 {
    margin-left: 10px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.card {
    width: 100%;
    overflow: hidden;
    border-radius: 40px;
    background-color: #2C343A;
}
.card--destaque {
    margin-bottom: 16px;
}

.cad-content, .card-destaque, .card-titulo, .card-perfil, .card-info, .card-btn {
    background-color: transparent;
}

.card-img {
    width: 400px;
}
.cad-content {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 8px;
}
.card-destaque, .card-titulo, .card-perfil, .card-btn {
    grid-column: span 2;
}
.card-titulo {
    font-size: 1.2rem;
    font-weight: bold;
}
.card-perfil {
    color: #95999c;
    font-size: 0.9rem;
}
.card-info {
    display: flex;
    align-items: center;
    color: #99959c;
}
.card-info-time, .card-info-views {
    margin-right: 8px;
}
.card-info .bi {
    color: #99959c;
}

.card-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    font-size: 0.9rem;
    border-radius: 40px;
    background-color: #0480DC;
    border: none;
    padding: 5px;

    justify-self: flex-end;
}
.card-btn-b {
    width: 40px;
    height: 40px;

    font-size: 0.9rem;
    border-radius: 40px;
    background-color: #0480DC;
    border: none;
    padding: 5px;

    justify-self: flex-end;
    cursor: pointer;
}

.card-btn-play {
    font-size: 20px;
}
.card-btn-play::before {
    font-size: 30px;
}
.card-btn-play .bi {
    margin-right: 8px;
}
.card-btn-destaque {
    width: 100%;
}
.card-btn-destaque::before {
    margin-right: 8px;
}
/* Card Info Icons Bootstrap */
.card-info .bi {

}
/* Card Btn Icons Bootstrap */
.card-btn .bi {

}

@media screen and (min-width: 430px) {
    .card-img {
        width: 100vw;
    }
    .sec-00 {
        padding: 24px 10%;
    }
}

@media screen and (min-width: 760px) {
    .card-btn-play {
        font-size: 24px;
    }
    .card-btn {
        cursor: pointer;
    }
    .card-btn:hover {

    }
}