
.container-formulario {
    background-color: #f5f5f5;
    width: 940px;
    margin: 0 auto;
}
.formulario {
    padding: 50px 20px;
}
.lab-txt {
    font-size: 20px;
    display: block;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    width: 50%;
    margin: 0 0 20px;
    padding: 10px 25px;
    border-radius: 15px;
    margin: 2px solid #000000;
}
.input-padrao::placeholder {
    color: black;
    font-size: 18px;
    font-style: italic;
}
.input-padrao:focus {
    color: #c78c19;
}

.radio-btn {
    margin: 30px 0;
}

.select-btn, .enviar {
    background-color: #ffffff;
    width: 40%;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
}

.tabela {
    width: 40%;
    margin: 30px 0;
}
.cabecalho-tabela {
    background: #bbbbbb;
    font-weight: bold;
    color: #ffffff;
}
.corpo-tabela tr, td {
    text-align: center;
    border: 1px solid #bbbbbb;
    color: #252525;
    padding: 8px 15px;
}

.checkbox {
    display: block;
    margin: 30px 0;
}
.btn-checkbox, .btn-radio {
    cursor: pointer;
}

.enviar {
    transition: 0.5s all;
    font-weight: bold;
    background: #c78c19;
    color: #ffffff;
    font-size: 18px;
    border: none;
}
.enviar:hover {
    background: #ff8c00;
    color: #000000;
    transform: scale(102%);
}
.enviar:active {
    transition: 0s;
    background: #085819;
}
