/*   Img Principal   */
.banner-01 {
    margin: 0 auto;
    background-image: url("../imagens/img-01.png");
    width: 100%;
    max-width: 1920px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
/* ^ Img Principal ^ */

/*   Section 01   */
.sec-01 {
    padding: 30px;
    background: #cccccc;
}
.titulo-01 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0px 50px;
}

.sec-01 p {
    margin: 0 20px 1em 20px;
}
.sec-01 em {
    font-style: italic;
}

.img-p {
    width: 150px;
    float: left;
}
.missao-p {
    font-size: 20px;
}
.strong-p {
    font-weight: bold;
    color: #ff0000;
}
/* ^ Section 01 ^ */

/*   Section 02   */
.sec-02 {
    clear: left;
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
    background: #f5f5f5;
    height: 500px;
    width: 100%;
}
.titulo-02 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.itens-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
.itens {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin: 50px auto;
}

.img-beneficios {
    max-width: 400px;
    width: 50%;
    border-radius: 20px
}
/* ^ Section 02 ^ */

/* .img-beneficios {
    background-image: url("./img-02.png");
    margin: 0 auto;
    width: 90%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */